<section class="group">
  <ol class="group">
    <li class="plot">
      <select name="1A">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="1B">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="1C">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="1D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>
  <ol class="group">
    <li class="plot">
      <select name="2A">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2B">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2C">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>
  <ol class="group">
    <li class="plot">
      <select name="3A">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3B">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3C">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>
  <ol class="group">
    <li class="plot">
       <select name="1D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="4D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>

<input class="evaluate_btn" type="submit" name="evaluate" value="Evaluate">

</section>




